<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About us page</title>
    <link rel="stylesheet" href="aboutus.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-OUdF8gs3zI7Idt3lF2VM9DEuLukOuoDObA22Z2fM6uKSN2AzQfxj73mlmGUgNdR8DTmPfvDsuXfZL7Y3Ytuz4A==" crossorigin="anonymous" />
</head>
<body>
    <div class="parallax"style="background-image: url('about6.jpg');">
        <h1>About Us</h1>
    </div>
    <div class="main">
        <header>
            <a href="#" class="logo"><img src="logowhite.png" alt="Logo"></a>
            <nav class="navigation">
                <a href="/home">Home</a>
                <a href="/contact">Contact</a>
                <a href="/login">Login</a>
            </nav>
        </header>
        
        <p>Welcome to our College Campus Lost and Found, where lost items find their way back home !</p>
    </div>
    <div class="text">
        <p class="scroll-reveal"><span>
    At the heart of our vibrant campus community, we understand that the hustle and bustle of academic 
    life can sometimes lead to misplaced belongings.That's why we've created this dedicated Lost and Found platform, 
    serving as a digital hub for reuniting lost items with their owners.<br><br>
    Our mission is simple: to foster a sense of unity and support within 
    our college community by providing a reliable and efficient system for recovering lost possessions.<br>
    Whether you've left your favorite hoodie in the library, misplaced your notebook in the cafeteria, 
    or accidentally left your water bottle in a lecture hall, we're here to help.<br>
    What sets us apart is not just the functionality of our platform, but the commitment to creating 
    a seamless experience for both those who have lost something and those who have found it. We believe in the power 
    of community and the shared responsibility of looking out for one another.<br><br>
    Explore our user-friendly interface to report a lost item, browse through the latest found items, or simply learn 
    more about our campus Lost and Found policies. Behind the scenes, our dedicated team works tirelessly to ensure that 
    every lost item has the best chance of being reunited with its owner.<br><br>
    Join us in fostering a culture of care and responsibility. Together, we can turn lost moments into found memories.
    Thank you for being a part of our campus community and for helping us make our Lost and Found a place where lost becomes found.
        </p>
    </span>
    </div>
    <div class="end">
        <p class="scroll"><span>Thank You!</span></p>
    </div>
    <div class="contact-section">
        <div class="blurred-box">
            <h2>Contact Us</h2>
            <p>Email: lostandfound@gmail.com</p>
            <p>Follow us on social media:</p>
            <p>
                <a href="https://www.facebook.com/" target="_blank" ><span class="iconf"><ion-icon name="logo-facebook"></ion-icon></span></a> 
                <a href="https://twitter.com/?lang=en" target="_blank" ><span class="icont"><ion-icon name="logo-twitter"></ion-icon></span></a> 
                <a href="https://www.instagram.com/" target="_blank" ><span class="iconi"><ion-icon name="logo-instagram"></ion-icon></span></a>
            </p>
        </div>
    </div>
    <footer>
        <p>&copy; 2024 BMSCE . All rights reserved.</p>
    </footer>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script src="aboutus.js"></script>
</body>
</html>
